{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-timepicker-addon.css' %}" />
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $("#id_datefrom").datetimepicker({
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            minDate: {{ bots_minDate }},
            maxDate: 0.1
        });
        $("#id_dateuntil").datetimepicker({
            ampm: false,
            dateFormat: 'yy-mm-dd',
            timeFormat: 'hh:mm:ss',
            minDate: {{ bots_minDate }},
            maxDate: 0.1
        });
    });
</script>
{% endblock %}

{% block content %}
<br/>
{% if request.META.PATH_INFO == "/processes/" %}
    <h1>Select process errors</h1>
{% elif request.META.PATH_INFO == "/confirm/" %}
    <h1>Select confirmations</h1>
{% else %}
    <h1>Select {{ request.META.PATH_INFO|cut:"/" }}</h1>
{% endif %}
<p>Make your required selections below:</p>
<br/>
<form action="{{ form.action }}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br/>
    <input type="submit" name="fromselect" value="Show selection" />
</form>
{% endblock %}
